<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691801626367-8degltqp0ifst053l2of9163rjuum33t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691801626367-8degltqp0ifst053l2of9163rjuum33t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>691801626367-fs0mj5raq4o6unsk5c9emna0rj78h046.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3AN7nmRXMdwv7hj3rDdj8D-4QjyNi96o</string>
	<key>GCM_SENDER_ID</key>
	<string>691801626367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lbnkosi.kreativekorner</string>
	<key>PROJECT_ID</key>
	<string>kreativekorner-35b76</string>
	<key>STORAGE_BUCKET</key>
	<string>kreativekorner-35b76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691801626367:ios:50743122675a26a9b71eca</string>
</dict>
</plist>